.fpl-logo{
    height: 80px;padding-left: 15px;padding-top: 12px;
}
.fpl-logo img{
    width: 59px;
    height: 59px;
}



.fpl-container .row{
    margin-right: 0; 
     margin-left: 0;
}
.fpl-navbar{
    background-color:#F0F2F3;border-bottom-color: #F0F2F3;
}
.fpl-navbar-first{
    padding-left: 200px
}

.fpl-content{

   padding-left: 50px;
}

.fpl-title{
    font-size:14px;
    color:rgb(102, 102, 102);
    font-style: normal;
    font-weight: normal !important;
}

.fpl-pagetitle{
color:rgb(102, 102, 102);
font-size:26px;
font-style:normal;
    padding-left: 25px;
}

.fpl-app-tbl,
.fpl-app-tbl tr,
.fpl-app-tbl tbody td,
.fpl-app-tbl thead th,
.fpl-app-tbl tfoot th {
	border: none !important;
}

.fpl-app-tbl td a{
  color:   rgb(51, 51, 51);
}
.fpl-app-tbl th{
   color:  rgb(134, 134, 134);
   font-size: 14px;
   font-style: normal;
   font-weight: normal;
}

.pagination li a
{
    color: black !important;
     margin-left: 0;

}

.pagination .active  a{
    background-color: white;
    font-weight: bold;
}

.pagination a:hover:not(.active) {background-color: white; font-weight: bold;}


.fpl-page-noborder{
    border: 0 !important;
    
}

.fpl-nav-item{   
   font-size: 16px;
    color:rgb(102, 102, 102);
    font-family:ArialUnicodeMS, "Arial Unicode MS";
    font-style:normal;
    font-weight:normal;
}

.fpl-portaltitle
{
    font-family: ArialUnicodeMS, "Arial Unicode MS";
    font-size:28px;
    font-style:normal;
    font-weight:normal;
    color:rgb(102, 102, 102);
    padding-left: 30px;
}
body{
font-family:  SegoeUI, "Segoe UI Normal", "Segoe UI";

}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F0F2F4;
;
}

tfoot {
    display: table-header-group;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.fpl-footer
{
    background-color:#F0F2F3;
}



.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}






.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

 .sidebar {
     position: fixed;  
    
     margin-left: 900px;
    border-style: solid;
 }
 
 .fpl-estimation{
font-family:SegoeUI, "Segoe UI Normal", "Segoe UI";
font-feature-settings:'kern' 1;
font-kerning:normal;
font-size:48px;
font-style:normal;
font-weight:normal;
height:auto;
line-height:normal;
text-align:left;
text-rendering:optimizeLegibility;
white-space:nowrap;
 }

 .fpl-estimation-header{
     color:rgb(102, 102, 102);
display:inline;
font-family:SegoeUI, "Segoe UI Normal", "Segoe UI";
font-feature-settings:'kern' 1;
font-kerning:normal;
font-size:20px;
font-style:normal;
font-weight:normal;
height:auto;
line-height:normal;
text-align:left;
text-rendering:optimizeLegibility;
white-space:nowrap;
 }

 .fpl-page-title{

     color:rgb(102, 102, 102);
display:inline;
font-family:SegoeUI, "Segoe UI Normal", "Segoe UI";
font-feature-settings:'kern' 1;
font-kerning:normal;
font-size:26px;
font-style:normal;
font-weight:normal;
height:auto;
line-height:normal;
text-align:left;
text-rendering:optimizeLegibility;
white-space:nowrap;
 }

 .fpl-section-title{
     color:rgb(102, 102, 102);
display:inline;
font-family:SegoeUI-Bold, "Segoe UI Negreta", "Segoe UI Normal", "Segoe UI";
font-feature-settings:'kern' 1;
font-kerning:normal;
font-size:14px;
font-style:normal;
font-weight:bold;
height:auto;
line-height:normal;
text-align:left;
text-rendering:optimizeLegibility;
white-space:nowrap;
 }

 .fpl-label{
    color:rgb(102, 102, 102);
display:inline;
font-family:SegoeUI, "Segoe UI Normal", "Segoe UI";
font-feature-settings:'kern' 1;
font-kerning:normal;
font-size:12px;
font-style:normal;
font-weight:normal;
height:auto;
line-height:normal;
text-align:left;
text-rendering:optimizeLegibility;
visibility:visible;
white-space:nowrap; 
 }

 .fpl-radio-label
 {
     color:rgb(134, 134, 134);
     cursor:default;
display:inline;
font-family:SegoeUI, "Segoe UI Normal", "Segoe UI";
font-feature-settings:'kern' 1;
font-kerning:normal;
font-size:14px;
font-style:normal;
font-weight:normal;
height:auto;
line-height:normal;
text-align:left;
text-rendering:optimizeLegibility;
width:auto;
word-wrap:break-word;
 }

 .required:after {
    color: red;
    content: '*';
  
}

.fpl-home-border{
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(174, 174, 174, 1);
    border-radius: 0px;
    margin-left: 20px;
    margin-bottom: 25px;
   
}
.fpl-home-title{
    color:rgb(102, 102, 102);
display:inline;
font-family:SegoeUI, "Segoe UI Normal", "Segoe UI";
font-feature-settings:'kern' 1;
font-kerning:normal;
font-size:24px;
font-style:normal;
font-weight:normal;
height:auto;
line-height:normal;
text-align:left;
text-rendering:optimizeLegibility;
white-space:nowrap;

}
.fpl-hmtitle-align
{
padding-top: 10px;
    padding-bottom: 10px;
}
.fpl-hmviewall{
    color: rgb(52, 151, 214);
    cursor: pointer;
    display: inline;
    font-family: SegoeUI, "Segoe UI Normal", "Segoe UI";
    font-feature-settings: 'kern' 1;
    font-kerning: normal;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: auto;
    line-height: normal;
    text-align: left;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
   

}