.fpl-logo{
    height: 80px;padding-left: 15px;padding-top: 12px;
}
.fpl-logo img{
    width: 59px;
    height: 59px;
}



.fpl-container .row{
    margin-right: 0; 
     margin-left: 0;
}
.fpl-navbar{
    background-color:#F0F2F3;border-bottom-color: #F0F2F3;
}
.fpl-navbar-first{
    padding-left: 200px
}

.fpl-content{

   padding-left: 50px;
}

.fpl-title{
    font-size:14px;
    color:rgb(102, 102, 102);
    font-style: normal;
    font-weight: normal !important;
}

.fpl-pagetitle{
color:rgb(102, 102, 102);
font-size:26px;
font-style:normal;
    padding-left: 25px;
}

.fpl-app-tbl,
.fpl-app-tbl tr,
.fpl-app-tbl tbody td,
.fpl-app-tbl thead th,
.fpl-app-tbl tfoot th {
	border: none !important;
}

.fpl-app-tbl td a{
  color:   rgb(51, 51, 51);
}
.fpl-app-tbl th{
   color:  rgb(134, 134, 134);
   font-size: 14px;
   font-style: normal;
   font-weight: normal;
}

.pagination li a
{
    color: black !important;
     margin-left: 0;

}

.pagination .active  a{
    background-color: white;
    font-weight: bold;
}

.pagination a:hover:not(.active) {background-color: white; font-weight: bold;}


.fpl-page-noborder{
    border: 0 !important;
    
}

.fpl-nav-item{   
   font-size: 16px;
    color:rgb(102, 102, 102);
    font-family:ArialUnicodeMS, "Arial Unicode MS";
    font-style:normal;
    font-weight:normal;
}

.fpl-portaltitle
{
    font-family: ArialUnicodeMS, "Arial Unicode MS";
    font-size:28px;
    font-style:normal;
    font-weight:normal;
    color:rgb(102, 102, 102);
    padding-left: 30px;
}
body{
font-family:  SegoeUI, "Segoe UI Normal", "Segoe UI";

}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F0F2F4;
;
}

tfoot {
    display: table-header-group;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}
