.fpl-logo{
    height: 80px;padding-left: 15px;padding-top: 12px;
}

.fpl-navbar{
    background-color:rgb(227, 238, 174);border-bottom-color: rgb(227, 238, 174);
}
.fpl-navbar-first{
    padding-left: 200px
}

.fpl-content{

   padding-left: 50px;
}
.fpl-app-tbl,
.fpl-app-tbl tr,
.fpl-app-tbl tbody td,
.fpl-app-tbl thead th,
.fpl-app-tbl tfoot th {
	border: none !important;
}

.pagination li a
{
    color: black !important;

}
.fpl-page-noborder{
    border: 0 !important;
}

.fpl-nav-item{
    font-weight: bold !important;
    color: black !important;
}